{% extends 'exerciser/base_combined.html' %}
{% load static %}
{% block links %}
    <link href="{% static 'css/jquery.splitter.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/teacher_interface.css' %}" />
{% endblock %}

{% block example_name %}<label id = "example_name_label">{{ example.name }}{% endblock %}

{% block home_icon %}
<a class="navbar-brand" href="/weave/teacher_interface">
    <i class="fa fa-home fa-lg landing-icon fa"></i>&nbsp;<span class="landing-text" style="position: relative; top: 2px;">Home</span>
</a>
{% endblock %}

{% block style %}

body {
	padding: 1em;
}

/*
 * Splitter container. Set this to the desired width and height
 * of the combined left and right panes.
 */
#example_container {
	height: 95%;
	width: 100%;
	border: 4px solid black;
	/* No padding allowed */
}
.modal-backdrop{
	background-color: grey;
}

/* 
 * Splitter bar style; the .active class is added when the
 * mouse is over the splitter or the splitter is focused
 * via the keyboard taborder or an accessKey. 
 */
#example_container .hsplitbar {
	height: 4px;
	background: black no-repeat center;
	/* No margin, border, or padding allowed */
}

.nicEdit-main{
    whitespace: pre;
}

{% endblock %}

{% block navigation_controls %}                      
	<li><a id="btn_prev" class="prev_btn example_control" href="#" style="top: 2px; visibility:hidden;" title="Go to the previous step"><i class="fa fa-arrow-left fa-lg landing-icon fa"></i></a></li>
	<li><a id="btn_next" class="next_btn example_control" href="#" style=" top: 2px; visibility:hidden;" title="Go to the next step"><i class="fa fa-arrow-right fa-lg landing-icon fa"></i></a></li>
{% endblock %}
{% block editor_controls %}
	<li><a id="btn_create_step_before" class = "create_step_btn before" href="#" style="top: 2px;" title = "Insert a step before this step"><i class="fa fa-reply"></i><i class="fa fa-pencil-square-o fa-lg landing-icon fa"></i></a></li>	
	<li><a id="btn_create_step_after"  class = "create_step_btn after" href="#" style="top: 2px;" title = "Insert a step after this step"><i class="fa fa-pencil-square-o fa-lg landing-icon fa"></i><i class="fa fa-share"></i></a></li>	
	<li><a id="btn_create_question_before" class = "create_question_btn before" href="#" style="top: 2px;" title = "Insert a question step before this step"><i class="fa fa-reply"></i><i class="fa fa-question fa-lg landing-icon fa"></i></a></li>
	<li><a id="btn_create_question_after" class = "create_question_btn after" href="#" style="top: 2px;" title = "Insert a question step after this step"><i class="fa fa-question fa-lg landing-icon fa"></i><i class="fa fa-share"></i></a></li>	
	<li id = "delete_step_btn"><a id="btn_delete_step" class = "delete_step_btn" href="#" style="top: 2px;" title = "Delete this step"><i class="fa fa-trash-o fa-lg landing-icon fa"></i></a></li>	
	<li class = "step_btn store_example_btn"><a id="btn_done" class = "done_btn" href="#" style="top: 2px;" title = "Store the example"><i class="fa fa-floppy-o fa-lg landing-icon fa"></i></a></li>	
{% endblock %}



{% block body_block %}
<div id="example_container">
	<div id = "outer_panel2" style ="position:relative; overflow-y:hidden;overflow-x:hidden;">
		<table id="panel_container" style=" line-height: 110%;overflow:hidden;height:100%; width:100%;">
			<tr id = "example_panels">
				{% for panel in panels %}
                <td id = "panel_area_{{ panel.panel_number }}" class = "panel" valign="top">
                	<div id = "area_container{{ panel.panel_number }}" class="panel" style="margin:0px; float: left;word-wrap:break-word;overflow-y:scroll; overflow-x:hidden;">
                		<div id="area_panel_{{ panel.panel_number }}" style="position:absolute;"></div>
                		<textarea id = "{{ panel.panel_id }}" class="panel" style = "margin: 100px; whitespace: pre;">{{ panel.html }}</textarea>
                	</div>
                </td>
				{% endfor %}
			</tr>		
		</table>
	</div>
	<div id="explanation_row2" style = "position:relative;overflow-x:hidden; overflow-y:scroll;">
		<div id="explanation_area_panel" style = "position:fixed;"></div>
		<textarea id = "explanation_area" style="width: 100%; height: 100%;">{{ explanation }}</textarea>
	</div>

</div>

<div id="question_modal" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog draggable">
        <div class="modal-content">
            <div class="modal-header">
                <button id = "question_step_close_button" type="button" class="close modal-dissmiss" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id = "question_modal_title" class="modal-title"></h4>

            </div>
            <div id = "question_modal_body" class="modal-body">
            	<label for = "question_text">Question text:</label>
                <div id = "question_text_container"><textarea id="question_text"></textarea></div>
                <label for = "question_type">Question type:</label>
                <div id = "question_type" class="radio">
				    <label><input id = "multiple_choice_radio_button" type="radio" name="question_type_radio" checked value = "multiple_choice">Multiple choice</label>
				    <label><input id = "multiple_choice_with_comments_radio_button" type="radio" name="question_type_radio" value = "multiple_choice_with_comments">Multiple choice with comments</label>
				    <label><input id = "open_radio_button" type="radio" name="question_type_radio" value = "open">Open</label>
				</div>
				<div id = "options_container">
					<ol id = "options_list" class="list-group">
					</ol>
					<button id = "add_option_button" type="button" class="btn btn-default">Add option</button>
				</div>
            </div>
            <div class="modal-footer">	
                <!--<button id = "create_question_step" type="button" class="btn btn-default">OK</button>-->

				<ul class="nav navbar-nav navbar-right">
                		<li><a id="btn_create_step_before" class = "create_step_btn before question_step_btn" href="#" style="top: 2px; color : #777;" title = "Insert a step before this step"><i class="fa fa-reply"></i><i class="fa fa-pencil-square-o fa-lg landing-icon fa"></i></a></li>	
						<li><a id="btn_create_step_after"  class = "create_step_btn after question_step_btn" href="#" style="top: 2px; color : #777;" title = "Insert a step after this step"><i class="fa fa-pencil-square-o fa-lg landing-icon fa"></i><i class="fa fa-share"></i></a></li>	
						<li><a id="btn_create_question_before" class = "create_question_btn before question_step_btn" href="#" style="top: 2px; color : #777;" title = "Insert a question step before this step"><i class="fa fa-reply"></i><i class="fa fa-question fa-lg landing-icon fa"></i></a></li>
						<li><a id="btn_create_question_after" class = "create_question_btn after question_step_btn" href="#" style="top: 2px; color : #777;" title = "Insert a question step after this step"><i class="fa fa-question fa-lg landing-icon fa"></i><i class="fa fa-share"></i></a></li>	
					    <li id = "delete_question_step_btn" ><a id="delete_question" class = "delete_step_btn question_step_btn" href="#" style=" top: 2px; color : #777;" title = "Delete this step"><i class="fa fa-trash-o fa-lg landing-icon fa"></i></a></li>
						<li class = "question_step_btn store_example_btn"><a id="btn_done" class = "done_btn" href="#" style="top: 2px; color : #777;" title = "Store the example"><i class="fa fa-floppy-o fa-lg landing-icon fa"></i></a></li>	
						<li><a id="create_question_step" href="#" style="top: 2px; color : #777;" title = "Save the question step"><i class="fa fa-check fa-lg landing-icon fa"></i></a></li>
                </ul>      
                <ul id = "question_step_navigator" class="nav navbar-nav navbar-right">
            		<li><a id="question_btn_prev" class="prev_btn question_control question_step_btn" href="#" style="top: 2px; color : #777;" title="Go to the previous step"><i class="fa fa-arrow-left fa-lg landing-icon fa"></i></a></li>
					<li><a id="question_btn_next" class="next_btn question_control question_step_btn" href="#" style=" top: 2px; color : #777;" title="Go to the next step"><i class="fa fa-arrow-right fa-lg landing-icon fa"></i></a></li>
				</ul>       
            </div>
        </div>
    </div>
</div>



<div id="edit_modal" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog draggable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-dissmiss" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="editor_title" class="modal-title">Edit Text</h4>

            </div>
            <div id = "edit_modal_body" class="modal-body">
            	<h4>Please enter the text you want to substitute the selected text with and click OK!</h4>
            	<label for = "text_to_change">Text to change:</label>
                <div id="text_to_change" style = "border:1px solid black;"></div>
                <label>New text:</label>
		        <div id = "new_text_panel">
		        	<div id="new_text_textarea_panel" style = "position:fixed; width: 100%;"></div>
		        	<textarea id="new_text_textarea" style = "width:100%;"></textarea>
		        </div>  
		        <div id="text_to_change_raw" style = "display:none"></div> 
            </div>
            <div class="modal-footer">	
                <button id = "apply_changes_button" type="button" class="btn btn-default">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="step_editor_modal" class="modal fade" data-keyboard="false" data-backdrop="static" style = "display:none;">
    <div class="modal-dialog draggable">
        <div id="step_editor_modal_content" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-dissmiss" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id = "step_editor_title" class="modal-title"></h4>
            </div>
            <div id = "step_editor_modal_body" class="modal-body">
                <!--<div id="text_before_change"></div>-->
                <label for = "current_step_text">Current step text:</label>
                <div id="current_step_text" style = "border:1px solid black;"></div>
                <label for = "text_to_change_textarea">Suggested step text:</label>
		        <textarea id="text_to_change_textarea" style = "width:100%;"></textarea>
		        <!--<div id="text_after_change"></div>--> 
		        <div id="panel_id" style = "display:none;"></div>
            </div>
            <div class="modal-footer">
            	<button id = "cancel_next_changes_button" type="button" class="btn btn-default navbar-left">Cancel next changes</button>
                <button id = "accept_all_changes_button" type="button" class="btn btn-default navbar-left">Accept all changes</button>
                <ul id = "step_editor_navigator">
					<li style = "display: inline"><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button></li>
					<li style = "display: inline"><button id = "step_editor_confirmation_button" type="button" class="btn btn-default" data-dismiss="modal">OK</button></li>
				</ul>	
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}


<script type="text/javascript" src=" {% static 'js/nicEdit.js' %}"></script>


<script type="text/javascript" src=" {% static 'js/bootstrap-dialog.js' %}"></script>
<script type="text/javascript" src="{% static 'js/colResizable-1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.splitter-0.15.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-tooltip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-confirmation.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authorChange.js' %}"></script>


<script type="text/javascript" src=" {% static 'js/nicEditButtonList.js' %}"></script>


<script type="text/javascript">

	var nicEditorPath = "{% static 'js/nicEditorIcons.gif' %}";
	var editGif = "{% static 'js/nicEdit plugin/src/nicExample/icons/edit.gif' %}";
	var unhighlightGif = "{% static 'js/nicEdit plugin/src/nicExample/icons/unhighlight.gif' %}";

	var nicEditInstances = {};
	//alert(exampleName);
	var exampleName = "{{ example.name }}";
	loadStep("this");

</script>

<!-- Scripts for the text editor -->
<script type="text/javascript" src=" {% static 'js/nicEdit plugin/src/nicExample/nicEdit.js' %}"></script>
<script type="text/javascript" src=" {% static 'js/exampleEditor.js' %}"></script>
<script type="text/javascript" src=" {% static 'js/exampleEditing.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modals.js' %}"></script>
<script type="text/javascript" src=" {% static 'js/resizeHandler.js' %}"></script>
<script type="text/javascript" src=" {% static 'js/questionModalHandler.js' %}"></script>
<script type="text/javascript" src=" {% static 'js/deleteStepHandler.js' %}"></script>
<script type="text/javascript" src=" {% static 'js/saveExampleHandler.js' %}"></script>


<script type="text/javascript" src="{% static 'js/applications.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.browser.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jQuery.splitter.js' %}"></script>


{% endblock %}
