{% extends 'exerciser/base_combined.html' %}
{% load static %}

{% block home_icon %}
<a class="navbar-brand" href="/weave/teacher_interface">
    <i class="fa fa-home fa-lg landing-icon fa"></i>&nbsp;<span class="landing-text" style="position: relative; top: 2px;">Home</span>
</a>
{% endblock %}

{% block logout %} 
    {% if user.is_authenticated %}
        <li>
            <a href="/weave/logout/"><i class="fa fa-lock fa-lg landing-icon fa-2x"></i><class="landing-text">&nbspLogout</span></a>
        </li>       
    {% endif %}
{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/group_sheet.css' %}" />
<link rel="stylesheet" href="{% static 'css/teacher_interface.css' %}" />
{% endblock %}
	
{% block body_block %}
	{% if not request.session.information_seen %}
		<div id="information_dialog" title="Group Sheet Information" style="margin:20px;display:none;">
			<div id = "message">
				<p> This page is designed so you can print it, and then fill in pupil names.  You can then cut off the right hand strip of pupil IDs, and pass them to the relevant pupils.  Then you and the pupil have a record of their unique pupil ID. </p>

				<p> Some teachers have suggested that you would hand them out and take them in again on each lesson where you were using the system.  Alternatively, the pupils just keep their ID safely, for use in the classroom or at home.  You always have the original on paper. </p>

				<p> We do not keep your name or your pupils’ names on-line, so keep the mapping from name to pupil ID secure.  You can select the columns of pupil ID here and paste them into a spreadsheet, and keep a more secure copy of name to ID there, if you wish. </p>
			</div>
		</div>
		{% endif %}
	
	
		<table id="student_table" border="1" style="width:90%;border: 1px solid black;border-collapse: collapse; margin: 0 auto; ">
			<caption style = "text-align: center;"><h3>Academic Year: {{ year }}, Group: {{ group }}</h3> </caption>
			<tr>
				<th>Firstname</th>
				<th>Lastname</th> 
				<th>Pupil ID</th>
				<th>Pupil ID</th>
			</tr>
			{% for student in students %}
			
			<tr>
				<td></td>
				<td></td>		
				<td>{{student.student_id}}</td>
				<td>{{student.student_id}}</td>
			</tr>		
			{% endfor %}
		</table>
{% endblock %}

{% block javascripts %}

<script>
	var csrftoken = getCookie('csrftoken');

	$( "#information_dialog" ).dialog({
		width: $(window).width()*0.9,
		modal: true,
		autoOpen: true,
		resizable: false,
		buttons: {
			"OK": function() {
			$( this ).dialog( "close" );
				request = $.post("/weave/group_sheet_confirm/",{'csrfmiddlewaretoken' : csrftoken});
			}
		}
	});
</script>

{% endblock %}