{% extends 'exerciser/base_combined.html' %}
{% load static %}

{% block home_icon %}
<a class="navbar-brand" href="/weave/teacher_interface">
    <i class="fa fa-home fa-lg landing-icon fa"></i>&nbsp;<span class="landing-text" style="position: relative; top: 2px;">Home</span>
</a>
{% endblock %}

{% block logout %}
    {% if user.is_authenticated %}
        <li>
            <a href="/weave/logout/"><i class="fa fa-lock fa-lg landing-icon fa-2x"></i><class="landing-text">&nbspLogout</span></a>
        </li>
    {% endif %}
{% endblock %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" href="{% static 'css/teacher_interface.css' %}" />
{% endblock %}

{% block body_block %}

	{% if user.is_authenticated %}
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center action-card" style="margin-left:5%">
					<h1>Register/Update a group</h1><br>
					<form id="register_or_update_group_form">
					<table class = "choice_selector" >
						<tr>
							<td class = "choice_selector" style="text-align:right;padding-right:10px;">Action:
							</td>
							<td>
								<input id="register_group" type="radio" name="action" value="register" checked><label for="register_group">Register</label>
							</td>
							<td>
								<input id = "update_group"type="radio" name="action" value="update"><label for="update_group">Update</label>
							</td>
							<td>
								<input id = "delete_group"type="radio" name="action" value="delete"><label for="delete_group">Delete</label>
							</td>
						</tr>
						<tr>
							<td style="text-align:right;padding:10px;">
								<label for="year">Academic Year:</label>
							</td>
							<td colspan="3">
								<select id="year" class="form-control year choice_selector" style="width:100%;">
									{% for year in academic_years %}
										<option value="{{year.start}}" >{{ year.start}}/{{ year.start|add:"1" }}</option>
									{% endfor %}
								</select>
							</td>
							<td style="padding:10px;">
								<i class="fa fa-question-circle" title="Select the academic year to which the selected group belongs/will belong."></i>
							</td>
						</tr>
						<tr class="register_group_specific" style="display:none;">
							<td style="text-align:right;padding:10px;">
								<label>Group ID:</label>
							</td>
							<td colspan="3">
								<input id="group_id_entry" class="form-control" type="text" name="group_id_entry">
							</td>
							<td style="padding:10px;">
								<i class="fa fa-question-circle" title="Choose a name for the group."></i>
							</td>
						</tr>
						<tr class="register_group_specific">
							<td style="text-align:right; padding:10px;">
								<span id="existing_groups">Existing groups: </span>
							</td>
							<td colspan="4"class="existing_groups_list" style="text-align:left;">
							</td>

						</tr>
						<tr id ="group_id_select" style="display:none;">
							<td style="text-align:right;padding-right:10px;">
								<label for="group_id">Group ID:</label>
							</td>
							<td colspan="3" >
								<select id="group_entry" class="group form-control" style = "width:100%;"></select>
							</td>
							<td style="padding:10px;">
								<i class="fa fa-question-circle" title="Choose the name of the group you want to update/delete."></i>
							</td>
						</tr>
						<tr class="update_group_specific">
							<td style="text-align:right;padding:10px;">
								<label for="num_students">Number of pupils:</label>
							</td>
							<td colspan="3">
								<input id="num_students" class="form-control" type="number" min="0" name="num_students" onkeypress="return isNumber(event)">
							</td>
							<td style="padding:10px;">
								<i class="fa fa-question-circle" title="Enter the number of pupils you would like to add ids for in the selected group."></i>
							</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="4">
								<input id="save_group_button" class="btn btn-info" style="margin-top: 10px; font-size: 14pt; font-weight: bold;" type="reset" value="Register">
							</td>
						</tr>
					</table>

					</form>
					<br>
					<strong id="group_success_message"></strong>

          <h1>View group list</h1><br>
					<form id="register_or_update_group_form" style="text-align:center;">
						<table class = "choice_selector">
							<tr>
								<td style="text-align:right;padding:10px;">
									<label for="year">Academic Year:</label>
								</td>
								<td style="text-align:left;">
									<select id="group_year" class="year form-control">
									{% for year in academic_years %}
										<option value="{{year.start}}" >{{ year.start}}/{{ year.start|add:"1" }}</option>
									{% endfor %}
									</select>
								</td>
								<td style="padding:10px;">
									<i class="fa fa-question-circle" title="Select the academic year for the group."></i>
								</td>

                <td style="text-align:right;padding:10px;">
									<label for="group">Group ID:</label>
								</td>
								<td style="text-align:left;">
									<select id="group" class="group form-control" style="width:100%;"></select>
								</td>
								<td style="padding:10px;">
									<i class="fa fa-question-circle" title="Select the group you would like to see ids for."></i>
								</td>
							</tr>
							<tr>
								<td colspan="6" style="padding-top:10px;">
									<input id="view_group_list" class="btn btn-info" style="font-size: 14pt; font-weight: bold;"  type="reset" value="View Group">
								</td>
							</tr>
						</table>
					</form>
					<br>
					<strong id="student_success_message"></strong>

				</div>



        <div class="col-md-4 action-card text-center" style="margin-right:5%">
          <h1>Actions</h1><br>
          <div class="row">
            <div class="col-md-4 text-center" style="margin:30px">
    					<h3><a href="/weave/statistics/"><i class="fa fa-bar-chart landing-icon fa-lg fa-4x"></i><br><br><span class="landing-text">View Progress</span></a></h3>
    				</div>
    				<div class="col-md-4 text-center" style="margin:30px">
    					<h3><a href="/weave/teacher_interface_examples_viewer/"><i class="fa fa-eye landing-icon fa-lg fa-4x"></i><br><br><span class="landing-text">View Example</span></a></h3>
    				</div>
          </div>
          <div class="row">
    				<div class="col-md-4 text-center" style="margin:30px">
    					<h3><a href="/weave/example_creator/"><i class="fa fa-pencil-square-o landing-icon fa-lg fa-4x"></i><br><br><span class="landing-text">Create Example</span></a></h3>
    				</div>
    				<div class="col-md-4 text-center" style="margin:30px">
    					<h3><a href="/weave/example_editor/"><i class="fa fa-wrench landing-icon fa-lg fa-4x"></i><br><br><span class="landing-text">Edit Example</span></a></h3>
    				</div>
          </div>
  			</div>
			</div>

		</div>


	{% else %}
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center">
					{% if request.session.registered = True %}
						<br/><br/><br/><br/><br/>
						<div style="font-size: 12pt; font-weight: bold;">
							<i class="fa fa-check success" style="color:green;"></i>
							<strong class="success" style="color:green;">Thank you for registering! Please log in</strong>
						</div>
					{% elif request.session.registered = False %}

						<h1>Register here!</h1><br />

						<form id="user_form" method="post" action="/weave/register/" enctype="multipart/form-data">
							{% csrf_token %}

							<!-- Display each form. The as_p method wraps each element in a paragraph
							(<p>) element. This ensures each element appears on a new line,
							making everything look neater. -->
							<table style="margin-left:auto; margin-right:auto;">
								{% for field in user_form %}
									<tr>
										<td style="vertical-align:top;text-align:right;">
											{{ field.label_tag }}
										</td>
										<td style="padding-left:5px;">
											<p>
												{{ field }}
											</p>
										</td>
									</tr>
								{% endfor %}
							</table>

							<!-- Provide a button to click to submit the form. -->
							<input id="register_user_button" class="btn btn-info" type="submit" value="Register" />
						</form><br/>
						<div style="font-size: 12pt; font-weight: bold;">
							<i class="fa fa-close success" style="color:red;"></i>
							<strong class="success" style="color:red;">Your registration was unsuccessful.You might have not entered the same password. If you are sure you have, please try again with a different username!</strong>
						</div>
					{% else %}
						<h1>Register here!</h1><br />

						<form id="user_form" method="post" action="/weave/register/" enctype="multipart/form-data">
							{% csrf_token %}

							<!-- Display each form. The as_p method wraps each element in a paragraph
							(<p>) element. This ensures each element appears on a new line,
							making everything look neater. -->

							<table style="margin-left:auto; margin-right:auto;">
								{% for field in user_form %}
									<tr>
										<td style="vertical-align:top;text-align:right;">
											{{ field.label_tag }}
										</td>
										<td style="padding-left:5px;">
											<p>
												{{ field }}
											</p>
										</td>
									</tr>
								{% endfor %}
							</table>

							<!-- Provide a button to click to submit the form. -->
							<input id="register_user_button" class="btn btn-info" type="submit" value="Register" />
						</form>
					{% endif %}
				</div>
				<div class="col-md-6 text-center">
					<h1>Login to WEAVE</h1>
					<form id="login_form" method="post" action="/weave/login/"><br>
            <table style="margin-left:auto; margin-right:auto;">
						{% csrf_token %}
            <tr>
              <td style="vertical-align:top;text-align:right;">
                <label for="id_username">Username:</label>
              </td>
              <td style="padding-left:5px;">
                <p>
                  <input id="id_username" class="form-control" maxlength="30" name="username" type="text">
                </p>
              </td>
            </tr>
            <tr>
              <td style="vertical-align:top;text-align:right;">
                <label for="id_password">Password:</label>
              </td>
              <td style="padding-left:5px;">
                <p>
                  <input id="id_password" class="form-control" name="password" type="password">
                </p>
              </td>
            </tr>
            </table>
            <input id="login_button" class="btn btn-info" type="submit" value="Log in"/>
          </form>
					{% if request.session.successful_login = False %}
						<br/>
						<div style="font-size: 12pt; font-weight: bold;">
							<i class="fa fa-close success" style="color:red;"></i>
							<strong class="success" style="color:red;">Sorry but your attempt to login was unsuccessful! Please try again!</strong>
						</div>
					{% endif %}
				</div>
			</div>
		</div>

	{% endif %}

	<div id="success_dialog" title="Success message" style="display:none;">
	<span id = "success_message"></span>
	</div>

{% endblock %}

{% block javascripts %}

	<script type="text/javascript" src="{% static 'js/teacherInterface.js' %}"></script>
	<script>


		{% autoescape off %}
		var year_group_dict = {{groups}}; // Mapping between the academic years and the groups for each
		{% endautoescape %}


		$('#view_group_list').click(function () {
			var chosen_group = document.getElementById("group").value;
			var selected_year=$("#group_year").val();
			var variables="?group="+chosen_group+"&teacher={{ user.username }}&year="+selected_year;
			window.location="/weave/get_group_list"+variables;
		});

		$(function () {
			{% if user.is_authenticated %}
				populateGroupList("group_year","group");
				populateGroupList("year","group_entry");
				setGroupChoice();
			{% endif %}
		});

		// A function for deleting a group
		function deleteGroup(chosenYear){
			var chosenGroup = $('#group_entry').val(); //Get the chosen group
			// Send a request to update a group
			request = $.post("/weave/delete_group/",{
				'csrfmiddlewaretoken' : csrftoken,
				'teacher' : "{{ user.username }}",
				'group' : chosenGroup,
				'year' : chosenYear,
			});

			// Receive a response
			request.done(function(success) {
				showSuccessMessage(success,chosenGroup);
			});
		}
		// A function to deal with the logic for registering a new group
		function registerGroup(chosenYear,numStudents){
			var chosenGroup = $('input:text[name=group_id_entry]').val(); //Get the chosen group

			// Send a request to register a group
			request = $.post("/weave/create_group/",{
				'csrfmiddlewaretoken' : csrftoken,
				'teacher' : "{{ user.username }}",
				'group' : chosenGroup,
				'year' : chosenYear,
				'num_students' : numStudents
			});

			// Receive a response
			request.done(function(success) {
				showSuccessMessage(success,chosenGroup);
			});
		}

		// A function for updating a group
		function updateGroup(chosenYear,numStudents){
			var chosenGroup = $('#group_entry').val(); //Get the chosen group

			// Send a request to update a group
			request = $.post("/weave/update_group/",{
				'csrfmiddlewaretoken' : csrftoken,
				'teacher' : "{{ user.username }}",
				'group' : chosenGroup,
				'year' : chosenYear,
				'num_students' : numStudents
			});

			// Receive a response
			request.done(function(success) {
				showSuccessMessage(success,chosenGroup);
			});
		}


        document.getElementById("id_username").className += " form-control";
        document.getElementById("id_password").className += " form-control";
        document.getElementById("id_password2").className += " form-control";

	</script>

	<script type="text/javascript" src="{% static 'js/teacher_interface_base.js' %}"></script>

{% endblock %}
