{% extends 'exerciser/base.html' %}
{% load static %}
{% block links %}
    <link href="{% static 'css/jquery.splitter.css' %}" rel="stylesheet"/>
{% endblock %}

{% block app_name %}<label id = "example_name_label">{{ example.name }}{% endblock %}
{% block style %}

body {
	padding: 1em;
}

/*
 * Splitter container. Set this to the desired width and height
 * of the combined left and right panes.
 */
#example_container {
	height: 95%;
	width: 100%;
	border: 4px solid black;
	/* No padding allowed */
}
.modal-backdrop{
	background-color: grey;
}

/* 
 * Splitter bar style; the .active class is added when the
 * mouse is over the splitter or the splitter is focused
 * via the keyboard taborder or an accessKey. 
 */
#example_container .hsplitbar {
	height: 4px;
	background: black no-repeat center;
	/* No margin, border, or padding allowed */
}


{% endblock %}


{% block app_controls %}

	<li><a id="btn_prev" class="prev_btn example_control" href="#" style="top: 2px; visibility:hidden;" title="Go to the previous step"><i class="fa fa-arrow-left fa-lg landing-icon fa"></i></a></li>
	<li><a id="btn_next" class="next_btn example_control" href="#" style=" top: 2px; visibility:hidden;" title="Go to the next step"><i class="fa fa-arrow-right fa-lg landing-icon fa"></i></a></li>
	<li><a id="btn_create_step_before" class = "create_step_btn before" href="#" style="top: 2px;" title = "Insert a step before this step"><i class="fa fa-reply"></i><i class="fa fa-pencil-square-o fa-lg landing-icon fa"></i></a></li>	
	<li><a id="btn_create_step_after"  class = "create_step_btn after" href="#" style="top: 2px;" title = "Insert a step after this step"><i class="fa fa-pencil-square-o fa-lg landing-icon fa"></i><i class="fa fa-share"></i></a></li>	
	<li><a id="btn_create_question_before" class = "create_question_btn before" href="#" style="top: 2px;" title = "Insert a question step before this step"><i class="fa fa-reply"></i><i class="fa fa-question fa-lg landing-icon fa"></i></a></li>
	<li><a id="btn_create_question_after" class = "create_question_btn after" href="#" style="top: 2px;" title = "Insert a question step after this step"><i class="fa fa-question fa-lg landing-icon fa"></i><i class="fa fa-share"></i></a></li>	
	<li><a id="btn_delete_step" class = "delete_step_btn" href="#" style="top: 2px;" title = "Delete this step"><i class="fa fa-trash-o fa-lg landing-icon fa"></i></a></li>	
	<li><a id="btn_done" class = "done_btn" href="#" style="top: 2px;" title = "Store the example"><i class="fa fa-floppy-o fa-lg landing-icon fa"></i></a></li>	
	
{% endblock %}


{% block body_block %}
<div id="example_container">
	<div id = "outer_panel2" style ="position:relative; overflow-y:hidden;overflow-x:hidden;">
		<table id="panel_container" style=" line-height: 110%;overflow:hidden;height:100%; width:100%;">
			<tr id = "example_panels">
				{% for panel in panels %}
                <td id = "panel_area_{{ panel.panel_number }}" class = "panel" valign="top">
                	<div id = "area_container{{ panel.panel_number }}" class="panel" style="margin:0px; float: left;word-wrap:break-word;overflow-y:scroll; overflow-x:hidden;">
                		<div id="area_panel_{{ panel.panel_number }}" style="position:absolute;"></div>
                		<textarea id = "{{ panel.panel_id }}" class="panel" style = "margin: 100px;">{{ panel.html }}</textarea>
                	</div>
                </td>
				{% endfor %}
			</tr>		
		</table>
	</div>
	<div id="explanation_row2" style = "position:relative;overflow-x:hidden; overflow-y:scroll;">
		<div id="explanation_area_panel" style = "position:fixed;"></div>
		<textarea id = "explanation_area" style="width: 100%; height: 100%;">{{ explanation }}</textarea>
	</div>

</div>

<div id="question_modal" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog draggable">
        <div class="modal-content">
            <div class="modal-header">
                <button id = "question_step_close_button" type="button" class="close modal-dissmiss" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id = "question_modal_title" class="modal-title"></h4>

            </div>
            <div id = "question_modal_body" class="modal-body">
            	<label for = "question_text">Question text:</label>
                <div id = "question_text_container"><textarea id="question_text"></textarea></div>
                <label for = "question_type">Question type:</label>
                <div id = "question_type" class="radio">
				    <label><input id = "multiple_choice_radio_button" type="radio" name="question_type_radio" checked value = "multiple_choice">Multiple choice</label>
				    <label><input id = "multiple_choice_with_comments_radio_button" type="radio" name="question_type_radio" value = "multiple_choice_with_comments">Multiple choice with comments</label>
				    <label><input id = "open_radio_button" type="radio" name="question_type_radio" value = "open">Open</label>
				</div>
				<div id = "options_container">
					<ol id = "options_list" class="list-group">
					</ol>
					<button id = "add_option_button" type="button" class="btn btn-default">Add option</button>
				</div>
            </div>
            <div class="modal-footer">	
                <!--<button id = "create_question_step" type="button" class="btn btn-default">OK</button>-->

				<ul class="nav navbar-nav navbar-right">
                		<li><a id="btn_create_step_before" class = "create_step_btn before question_step_btn" href="#" style="top: 2px; color : #777;" title = "Insert a step before this step"><i class="fa fa-reply"></i><i class="fa fa-pencil-square-o fa-lg landing-icon fa"></i></a></li>	
						<li><a id="btn_create_step_after"  class = "create_step_btn after question_step_btn" href="#" style="top: 2px; color : #777;" title = "Insert a step after this step"><i class="fa fa-pencil-square-o fa-lg landing-icon fa"></i><i class="fa fa-share"></i></a></li>	
						<li><a id="btn_create_question_before" class = "create_question_btn before question_step_btn" href="#" style="top: 2px; color : #777;" title = "Insert a question step before this step"><i class="fa fa-reply"></i><i class="fa fa-question fa-lg landing-icon fa"></i></a></li>
						<li><a id="btn_create_question_after" class = "create_question_btn after question_step_btn" href="#" style="top: 2px; color : #777;" title = "Insert a question step after this step"><i class="fa fa-question fa-lg landing-icon fa"></i><i class="fa fa-share"></i></a></li>	
					    <li><a id="delete_question" class = "delete_step_btn question_step_btn" href="#" style=" top: 2px; color : #777;" title = "Delete this step"><i class="fa fa-trash-o fa-lg landing-icon fa"></i></a></li>
						<li><a id="btn_done" class = "done_btn" href="#" style="top: 2px; color : #777;" title = "Store the example"><i class="fa fa-floppy-o fa-lg landing-icon fa"></i></a></li>	
						<li><a id="create_question_step" href="#" style="top: 2px; color : #777;" title = "Save the question step"><i class="fa fa-check fa-lg landing-icon fa"></i></a></li>
                </ul>      
                <ul id = "question_step_navigator" class="nav navbar-nav navbar-right">
            		<li><a id="question_btn_prev" class="prev_btn question_control question_step_btn" href="#" style="top: 2px; color : #777;" title="Go to the previous step"><i class="fa fa-arrow-left fa-lg landing-icon fa"></i></a></li>
					<li><a id="question_btn_next" class="next_btn question_control question_step_btn" href="#" style=" top: 2px; color : #777;" title="Go to the next step"><i class="fa fa-arrow-right fa-lg landing-icon fa"></i></a></li>
				</ul>       
            </div>
        </div>
    </div>
</div>



<div id="plan_modal" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog draggable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Example setup</h4>
            </div>
            <div class="modal-body">

				<label for = "example_name">Example name:</label>
				<input id = "example_name" class="form-control" type="text" placeholder="ExampleName">

				<label for = "number_of_panels">Number of problem areas:</label>
			    <select id = "number_of_panels" class="form-control">
					<option value="1" selected>1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
            </div>
            <div class="modal-footer">
                <button id = "create_example_button" type="button" class="btn btn-default" disabled = "true">OK</button>
            </div>
        </div>
    </div>
</div>


<div id="edit_modal" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog draggable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-dissmiss" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="editor_title" class="modal-title">Edit Text</h4>

            </div>
            <div id = "edit_modal_body" class="modal-body">
            	<h4>Please enter the text you want to substitute the selected text with and click OK!</h4>
            	<label for = "text_to_change">Text to change:</label>
                <div id="text_to_change" style = "border:1px solid black;"></div>
                <label>New text:</label>
		        <div id = "new_text_panel">
		        	<div id="new_text_textarea_panel" style = "position:fixed; width: 100%;"></div>
		        	<textarea id="new_text_textarea" style = "width:100%;"></textarea>
		        </div>  
		        <div id="text_to_change_raw" style = "display:none"></div> 
            </div>
            <div class="modal-footer">	
                <button id = "apply_changes_button" type="button" class="btn btn-default">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="step_editor_modal" class="modal fade" data-keyboard="false" data-backdrop="static" style = "display:none;">
    <div class="modal-dialog draggable">
        <div id="step_editor_modal_content" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-dissmiss" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id = "step_editor_title" class="modal-title"></h4>
            </div>
            <div id = "step_editor_modal_body" class="modal-body">
                <!--<div id="text_before_change"></div>-->
                <label for = "current_step_text">Current step text:</label>
                <div id="current_step_text" style = "border:1px solid black;"></div>
                <label for = "text_to_change_textarea">Suggested step text:</label>
		        <textarea id="text_to_change_textarea" style = "width:100%;"></textarea>
		        <!--<div id="text_after_change"></div>--> 
		        <div id="panel_id" style = "display:none;"></div>
            </div>
            <div class="modal-footer">
            	<button id = "cancel_next_changes_button" type="button" class="btn btn-default navbar-left">Cancel next changes</button>
                <ul id = "step_editor_navigator">
					<li style = "display: inline"><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button></li>
					<li style = "display: inline"><button id = "step_editor_confirmation_button" type="button" class="btn btn-default" data-dismiss="modal">OK</button></li>
				</ul>	
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src=" {% static 'js/bootstrap-dialog.js' %}"></script>

<script type="text/javascript">

	var nicEditorPath = "{% static 'js/nicEditorIcons.gif' %}";
	var editGif = "{% static 'js/nicEdit plugin/src/nicExample/icons/edit.gif' %}";
	var unhighlightGif = "{% static 'js/nicEdit plugin/src/nicExample/icons/unhighlight.gif' %}";
	var buttonList = ['save','bold','italic','underline','left','center','right','justify','ol','ul','fontSize','fontFamily','indent','outdent','image','upload','link','unlink','forecolor','bgcolor', 'edit', 'unhighlight'];

	var nicEditInstances = {};


	$('#example_name').on('input', function() {
	    if ($("#example_name").val() == ""){
	    	$('#create_example_button').prop('disabled', true);
	    }
	    else {
	    	$('#create_example_button').prop('disabled', false);
	    }
	});
	/*$("#step_editor_confirmation_button").click(function(){
		confirmStepChanges("next", false);
		matchesEdits = {};
		if(exactMatchesBeingProcessed){
			//alert("confirmation clicked- exact");
			matchesEdits = exactMatchesEdits;
		}
		else{
			//alert("confirmation clicked- possible");
			matchesEdits = possibleMatchesEdits;
		}
		//isStepSaved = [];
		for (var step in matchesEdits) {
			if (matchesEdits.hasOwnProperty(step)) {
			  //alert("step " + step + " text " + matchesEdits[step] + " example " + exampleName + " panel_id " + $("#panel_id").text());
				$.post("/weave/save_step/", {
			        'csrfmiddlewaretoken': csrftoken,
			        'example_name': exampleName,
			        'step_number': step,
			        'html' : matchesEdits[step],
			        'panel_id' : $("#panel_id").text()
			    }).done(function(){
			    	//isStepSaved[step] = true;
			    })
			}
		}
		//alert("before hide");
		$("#step_editor_modal").modal('hide');
		//alert("after hide");

		loadStep("this");

		// $("#step_editor_modal").on('hidden.bs.modal',function(){
		// 	loadStep("this");
		// 	alert("in on hidden event");
		// })
	})*/
	$("#step_editor_confirmation_button").click(function(){
		//$("#step_editor_modal").modal('hide');
		stepEditor = nicEditors.findEditor("text_to_change_textarea");
	    newStepText = stepEditor.getContent();
	    stepEditorTitle = $("#step_editor_title").text();
	    stepNumber = parseInt(stepEditorTitle.replace( /\D+/g, '')) - 1;
        $.post("/weave/edit_step/", {
            'example_name': exampleName,
            'panel_id': currentFocusedEditor,
            'csrfmiddlewaretoken': csrftoken,
            'html' : newStepText,
            'step_number' : stepNumber
        })
	})



	$("#cancel_next_changes_button").click(function(){
		allMatches = [];
		$("#step_editor_modal").modal('hide')
	})

	$('#add_option_button').click(function(){
		var option_type = $('input[type=radio][name=question_type_radio]:checked').val();
		console.log(option_type + "OPTION TYPE");
		option_number = $("#options_list").find($(".option")).length + 1;
		//alert($("#options_list").find($(".option")).length + " that many");
		$("#options_list").append('<li class="list-group-item option"><table id = "option_' + option_number + '"style = "width:100%;"><tr><td><input type="checkbox"></td><td class = "option_number">' + option_number + '.</td><td><input class="form-control option_text" type="text" placeholder="Option Text"></td><td align="center"><a href="#" style="top: 2px; color : #777;" title = "Delete this option" class = "delete_option"><i class="fa fa-trash-o fa-lg landing-icon fa"></i></a></td></tr></table></li>');
		
		refreshDeleteOptionController();

		if (option_type == "multiple_choice_with_comments"){
			//alert("tuk");
            $('#option_' + option_number).append('<tr id = "comment_area_' + option_number + '"><td colspan = "4"><label>Answer comment:</label><textarea id="comment_textarea_' + option_number + '" style = "width:100%;"></textarea></td></tr>');
            /*if(nicEditInstances["comment_textarea_" + option_number] != undefined){
            	nicEditInstances["comment_textarea_" + option_number].removeInstance(nicEditInstances["comment_textarea_" + option_number]);
            	nicEditInstances["comment_textarea_" + option_number] = undefined;
            }*/
            //if(nicEditInstances["comment_textarea_" + option_number] == undefined){
            if(nicEditors.findEditor("comment_textarea_" + option_number) == undefined){
            	nicEditInstances["comment_textarea_" + option_number] = new nicEditor({"iconsPath" : nicEditorPath, "buttonList" : buttonList,}).panelInstance("comment_textarea_" + option_number);//.addInstance($(this).attr("id")).setPanel("comment_panel_" + index+1);   
            }
            //}
		}
		option_number++;

		correctAnswerController();
		
	});
	/*
	$(document).on("click","td .nicEdit-main", function (event) {
		currentFocusedEditor = $(event.target).parent().siblings('textarea').attr('id');
	});
	*/

	/*$(".modal-dissmiss").click(function(){
		$(this).parents(".modal").find("textarea").each(function(){
			editorId = $(this).attr("id");
			if(nicEditInstances[editorId] != undefined){
				nicEditInstances[editorId].removeInstance(editorId);
			}
		})
	})*/

	//change the name of the function if it is being used
	function repeatingfunction() {
	    console.log("mouse down");
        $("#panel_container").find($(".nicEdit-main")).css("min-height",$("#area_container0").height() - $("#panel_container").find($(".nicEdit-panel")).height() - 20 + "px");
        $("#panel_container").find($(".nicEdit-main")).css("margin-top",$("#panel_container").find($(".nicEdit-panel")).height() + 5 + "px");		

        $("#explanation_row2").find($(".nicEdit-main")).css("min-height",$("#explanation_row2").height() - $("#explanation_row2").find($(".nicEdit-panel")).height() - 20 + "px");
        $("#explanation_row2").find($(".nicEdit-main")).css("margin-top",$("#explanation_row2").find($(".nicEdit-panel")).height() + 5 + "px");
        $("#explanation_area_panel").css("width", $("#explanation_row2").find($(".nicEdit-main")).outerWidth( true ) + "px");	

	}


</script>




<!-- Scripts for the text editor -->
<script type="text/javascript" src=" {% static 'js/nicEdit.js' %}"></script>
<script type="text/javascript" src=" {% static 'js/nicEdit plugin/src/nicExample/nicEdit.js' %}"></script>


<script type="text/javascript">

	$("#question_modal").on('shown.bs.modal',function(){
		$("#question_text").width($("#question_text_container").width());
	    /*if(nicEditInstances["question_text"] != undefined){
        	nicEditInstances["question_text"].removeInstance(nicEditInstances["question_text"]);
        	nicEditInstances["question_text"] = undefined;
        }*/
        if(nicEditInstances["question_text"] == undefined){
	    	nicEditInstances["question_text"] = new nicEditor({"iconsPath" : nicEditorPath,"buttonList" : buttonList}).panelInstance("question_text");
	    }

	})

	$("#edit_modal").on('shown.bs.modal',function(){
	    /*if(nicEditInstances["new_text_textarea"] != undefined){
        	nicEditInstances["new_text_textarea"].removeInstance(nicEditInstances["new_text_textarea"]);
        	nicEditInstances["new_text_textarea"] = undefined;
        }*/
        if(nicEditInstances["new_text_textarea"] == undefined){

			nicEditInstances["new_text_textarea"] = new nicEditor({"iconsPath" : nicEditorPath,"buttonList" : buttonList}).panelInstance("new_text_textarea");//.addInstance("new_text_textarea").setPanel('new_text_textarea_panel');

		}
        //$("#edit_modal").find($(".nicEdit-main")).css("min-height",$("#edit_modal").height() - $("#edit_modal").find($(".nicEdit-panel")).height() - 20 + "px");
        //$("#edit_modal").find($(".nicEdit-main")).css("margin-top",$("#edit_modal").find($(".nicEdit-panel")).height() + 5 + "px");
        //$("#new_text_textarea_panel").css("width", $("#edit_modal").find($(".nicEdit-main")).outerWidth( true ) + "px");
        var editEditor = nicEditors.findEditor("new_text_textarea");
        editEditor.setContent(rawText);

	})
	//var stepEditor;
/*
	$("#step_editor_modal").on('shown.bs.modal',function(){
		//$("#step_editor_btn_prev").css('visibility', 'hidden');
		stepToChangeIndex = -1;
		if(exactMatchesBeingProcessed){
			selectedMatchesLength = exactMatches.length;
		}
		else{
			selectedMatchesLength = possibleMatches.length;
		}
		handleStepEditorControlVisibility("next" , stepToChangeIndex, selectedMatchesLength, ".step_editor_control");
	 // if(nicEditInstances["text_to_change_textarea"] != undefined){
     //    	nicEditInstances["text_to_change_textarea"].removeInstance(nicEditInstances["text_to_change_textarea"]);
     //    	nicEditInstances["text_to_change_textarea"] = undefined;
     // }
        if(nicEditInstances["text_to_change_textarea"] == undefined){
			nicEditInstances["text_to_change_textarea"] = new nicEditor({"iconsPath" : nicEditorPath,"buttonList" : buttonList}).panelInstance("text_to_change_textarea");
		}
		confirmStepChanges("next", true);
	})

	$('#step_editor_modal').on('hidden.bs.modal', function () {
		//stepEditor.removeInstance('text_to_change_textarea');
		if (exactMatchesBeingProcessed){
			exactMatchesBeingProcessed = false;
			if(possibleMatches.length > 0){
				$("#step_editor_modal").modal('show');
			}
            //confirmStepChanges("next");
		}
		else{
			exactMatchesBeingProcessed = true;
		}
		$(this).removeData('bs.modal'); 
	})
*/
$('.modal').on('hidden.bs.modal', function () {
	$(this).removeData('bs.modal'); 
})


$("#step_editor_modal").on('shown.bs.modal',function(){
    if(nicEditInstances["text_to_change_textarea"] == undefined){
		nicEditInstances["text_to_change_textarea"] = new nicEditor({"iconsPath" : nicEditorPath,"buttonList" : buttonList}).panelInstance("text_to_change_textarea");
	}
	confirmStepChange();
})


$('#step_editor_modal').on('hidden.bs.modal', function () {
	if(allMatches.length > 0){
		$("#step_editor_modal").modal('show');
	}
})

</script>

<!-- End of scripts for the text editor -->




<script type="text/javascript">
	$('input[type=radio][name=question_type_radio]').on('change', function(){
		$("#question_modal").find($(".nicEdit-main")).css("min-height",50 + "px");	//$("#correct_answer_comment").children().css("width", ($("#correct_answer_comment").width()) + "px");


	    switch($(this).val()){
	        case 'multiple_choice' :
	            $("#options_container").show();
	            //$("#open_comment_container").hide();
	            console.log("mc");
	            $('[id^="comment_area_"]').each(function(index) {
	            	$(this).remove();
	            	console.log("to remove");
	            })
	            //$("#multiple_choice_comment_container").show();
	            //$("#question_type").after('<input id = "option1" class="form-control" type="text" placeholder="Option Text">');
	            break;
	        case 'multiple_choice_with_comments' :
	            $("#options_container").show();
	            //$("#open_comment_container").hide();
	            console.log("mcwc");
	            $('table[id^="option_"]').each(function(index) {
	            	if($(this).find($("#comment_area_" + (index + 1))).length == 0){
	                	$(this).append('<tr id = "comment_area_' + (index + 1) + '"><td colspan = "4"><label>Answer comment:</label><textarea id="comment_textarea_' + (index + 1) + '" style = "width:100%;"></textarea></td></tr>');
	                }
	            });

		        $('textarea[id^="comment_textarea_"]').each(function(index) {
		            //$(this).height($("#outer_panel2").height()*0.71);
		            //$(this).css("margin","100px");
		            //$(this).width($("#question_text_container").width());
		            
				    /*if(nicEditInstances[$(this).attr("id")] != undefined){
			        	nicEditInstances[$(this).attr("id")].removeInstance(nicEditInstances[$(this).attr("id")]);
			        	nicEditInstances[$(this).attr("id")] = undefined;
			        }*/
					if(nicEditors.findEditor($(this).attr("id")) == undefined){

					nicEditInstances[$(this).attr("id")] = new nicEditor({"iconsPath" : nicEditorPath, "buttonList" : buttonList,}).panelInstance($(this).attr("id"));
		            }
		            //---->commentEditors[index] = new nicEditor({"iconsPath" : nicEditorPath, "buttonList" : buttonList,}).panelInstance($(this).attr("id"));//.addInstance($(this).attr("id")).setPanel("comment_panel_" + index+1);  





		        });
	           //$("#multiple_choice_comment_container").show();
	            //$("#question_type").after('<input id = "option1" class="form-control" type="text" placeholder="Option Text">');
	            break;
	        case 'open' :
	        	//$("#multiple_choice_comment_container").hide();
	        	//$("#open_comment_container").show();
	       		$("#options_container").hide();
	       		console.log("o");
	            break;
	    }            
	});
</script>


<script type="text/javascript">
	$(function() {
		$("#plan_modal").modal('show');
		$(".step").draggable();
		//$(".draggable").draggable();
		//$("#steps").sortable();
	});

	$(document).ready(function() {
		$(".modal-content").each(function(i) {
		    $(this).draggable({
		        handle: ".modal-header"  
		    });
		});

	});
</script>
<!--<script type="text/javascript" src="{% static 'js/change.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/authorChange.js' %}"></script>
<script type="text/javascript" src="{% static 'js/colResizable-1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.splitter-0.15.0.js' %}"></script>
<!--
<script type="text/javascript">
	jQuery(function($) {
		$('#widget').width("100%").height("100%");//.split({ position:'100%'});
		$('#foo').split({orientation:'horizontal', resize:(function(){console.log("successsssssssss")})});

  		$(window).resize(function() {
		    var navHeight = $("#navigation_bar").height();
		    $("#foo").height("100%");
		});

	});
 </script>

-->
<script type="text/javascript" src="{% static 'js/applications.js' %}"></script>


<!-- Scripts to deal with the plan modal -->



<script type="text/javascript" src="{% static 'js/jquery.sortable.js' %}"></script>

<script>
    $('.sortable').sortable();
</script>
  <script type="text/javascript" src="{% static 'js/jquery.browser.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jQuery.splitter.js' %}"></script>
<script type="text/javascript">

$().ready(function() {

var int00;
	$("#example_container").splitter({
		type: "h", 
		accessKey: "P"
	});
	$('.hsplitbar').mousedown(function(){
		    int00 = setInterval(function() { repeatingfunction(); }, 1);
		    $("#explanation_area_panel").css("position","relative");
		})
	$(window).mouseup(function() { 
		    clearInterval(int00);
		    $("#explanation_area_panel").css("position","fixed");
		});
/*	$(".hsplitbar").mouseup(function(){
	console.log("success3");
	repeatingfunction();
	})
*/
});

$(window).resize(function() {
	
	$("#outer_panel2").width($("#example_container").width() + "px");
	$("#explanation_row2").width($("#example_container").width() + "px");
	$("#panel_container").width($("#example_container").width() + "px");
	$(".hsplitbar").width($("#example_container").width() + "px");
	$("#explanation_row2").height($("#example_container").height() - $("#outer_panel2").height() - 4 + "px");


	 $('[id^="area_container"]').each(function(index) {
	    var container_width = $(this).parent().width();
	    console.log("id " + $(this).attr("id") + "width" + container_width);
	    $(this).width(container_width);
	    $(this).children().each(function(){
	        $(this).width(container_width);
	    })
	    $(this).find($(".nicEdit-main")).width(container_width - 24+ "px");
	    $(this).find($(".nicEdit-panelContain")).width(container_width - 20 + "px");
	    $(this).find($(".nicEdit-main")).css("min-height",$(this).height() - $(this).find($(".nicEdit-panel")).height() - 20 + "px");
	    $(this).find($(".nicEdit-main")).css("margin-top",$(this).find($(".nicEdit-panel")).height() + 5 + "px");

	 })   

	$("#explanation_row2").children().css("width", ($("#explanation_row2").width() - 20) + "px");
	$("#explanation_row2").find($(".nicEdit-main")).css("width",($("#explanation_row2").width() - 27) + "px");
	


    $("#panel_container").find($(".nicEdit-main")).css("min-height",$("#area_container0").height() - $("#panel_container").find($(".nicEdit-panel")).height() - 20 + "px");
    $("#panel_container").find($(".nicEdit-main")).css("margin-top",$("#panel_container").find($(".nicEdit-panel")).height() + 5 + "px");		

    $("#explanation_row2").find($(".nicEdit-main")).css("min-height",$("#explanation_row2").height() - $("#explanation_row2").find($(".nicEdit-panel")).height() - 20 + "px");
    $("#explanation_row2").find($(".nicEdit-main")).css("margin-top",$("#explanation_row2").find($(".nicEdit-panel")).height() + 5 + "px");
	$( "#panel_container" ).colResizable({ disable : true });
    //Re-init the plugin on the new elements
    $("#panel_container").colResizable({
        liveDrag: true,
        gripInnerHtml: "<div class='grip'></div>",
        draggingClass: "dragging",
        onDrag: function (){

             $('[id^="area_container"]').each(function(index) {
                var container_width = $(this).parent().width();
                console.log("id " + $(this).attr("id") + "width" + container_width);
                $(this).width(container_width);
                $(this).children().each(function(){
                    $(this).width(container_width);
                })
                $(this).find($(".nicEdit-main")).width(container_width - 24+ "px");
                $(this).find($(".nicEdit-panelContain")).width(container_width - 20 + "px");
                $(this).find($(".nicEdit-main")).css("min-height",$(this).height() - $(this).find($(".nicEdit-panel")).height() - 20 + "px");
                $(this).find($(".nicEdit-main")).css("margin-top",$(this).find($(".nicEdit-panel")).height() + 5 + "px");

             })   

        }
    });

	$("#question_text_container").children().css("width", ($("#question_modal_body").width()) + "px");
	$("#question_text_container").find($(".nicEdit-main")).css("width",($("#question_modal_body").width()) + "px");

	/*$("#correct_answer_comment").children().css("width", ($("#question_modal_body").width()) + "px");
	$("#correct_answer_comment").find($(".nicEdit-main")).css("width",($("#question_modal_body").width()) + "px");


	$("#wrong_answer_comment").children().css("width", ($("#question_modal_body").width()) + "px");
	$("#wrong_answer_comment").find($(".nicEdit-main")).css("width",($("#question_modal_body").width()) + "px");

	$("#general_comment").children().css("width", ($("#question_modal_body").width()) + "px");
	$("#general_comment").find($(".nicEdit-main")).css("width",($("#question_modal_body").width()) + "px");
	*/
/*
	$("#comments_container").children().css("width", ($("#comments_container").width()) + "px");
	$("#comments_container").find($(".nicEdit-main")).css("width",($("#comments_container").width()) + "px");
*/
});


</script>

{% endblock %}
